.ant-btn-primary {
	background: #1677ff;
}

.ant-table-row {
	cursor: pointer;
}

.ant-layout-header {
	padding: 0;
}

.anticon {
	font-size: 1.3rem !important;
}

.ant-btn {
	display: flex;
	justify-content: center;
	align-items: center;
}

.ant-menu-item {
	display: flex !important;
	align-items: center;
}
